{% extends "base.html" %}

{% block content %}
<h1>Doctors</h1>
<form method="get">
    <input type="text" name="name" placeholder="Search by name">
    <select name="level">
        <option value="">All Levels</option>
        <option value="CARD">Cardiologist</option>
        <option value="GP">General Practitioner</option>
        <option value="NEURO">Neurologist</option>
    </select>
    <button type="submit">Search</button>
    <button type="button" onclick="window.location.href='{% url 'doctor-list' %}'">Clear Search</button>
</form>

<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Specialization</th>
            <th>Contact phone</th>
            <th>Work schedule</th>
        </tr>
    </thead>
    <tbody>
        {% for doctor in doctors %}
        <tr>
            <td>{{ doctor.user.first_name }} {{ doctor.user.last_name }}</td>
            <td>{{ doctor.specialization }}</td>
            <td>{{ doctor.phone }}</td>
            <td>{{ doctor.work_schedule }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}